- presentation_form(@presentation) do |f|
  %dl
    %dt= f.label(:topic, "Topic")
    %dd
      = f.text_field(:topic)
      = f.error_message_on(:topic)
    
    %dt= f.label(:description, "Description")
    %dd
      = f.text_area(:description)
      = f.error_message_on(:description)
    
    %dt= f.label(:speaker_description, "Speaker information")
    %dd
      = f.text_area(:speaker_description)
      = f.error_message_on(:speaker_description)
    
    %dt= f.label(:length, "Length")
    %dd
      = f.error_message_on(:length)
      = f.radio_button(:length, "standard")
      = f.label(:length_standard, "1 hour")
    %dd
      = f.radio_button(:length, "long")
      = f.label(:length_long, "2 hours")
    %dd
      = f.radio_button(:length, "lightning")
      = f.label(:length_lightning, "Lightning talk")
  
    %dt= f.label(:photo, "Photo")
    %dd
      = f.file_field(:photo)
      = f.error_message_on(:photo_field)

    - if admin_area?
      %dd
        = f.label(:speaker_id, "Speaker")
        = f.select(:speaker_id, User.all.map{|u| [u.full_name, u.id]}, {:include_blank => true})
        = f.error_message_on(:speaker_id)

  %p
    = f.submit(@presentation.new_record? ? "Submit presentation" : "Update presentation")
    or
    = link_to "Cancel", root_path
